/* JavaFx styles */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: rgb(245, 245, 245);
    -fx-background-radius: 0em;
    -fx-border-width: 0em;
    -fx-border-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(204, 204, 204);
    -fx-background-radius: 0em;
    -fx-background-insets: 0em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: rgb(245, 245, 245);
    -fx-background-radius: 0em;
    -fx-background-insets: 0em;
}

/* JFoenix styles */

.sublist-item .scroll-bar:vertical {
    -fx-pref-width: 0px;
}

.sublist-item .scroll-bar:vertical,
.sublist-item .scroll-bar:vertical .decrement-arrow,
.sublist-item .scroll-bar:vertical .increment-arrow,
.sublist-item .scroll-bar:vertical .decrement-button,
.sublist-item .scroll-bar:vertical .increment-button,
.sublist-item .scroll-bar:vertical .thumb,
.sublist-item .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-background-insets: 0em;
}

/* Common=shared styles */

.common-button {
    -fx-text-fill: white;
    -fx-background-color: rgb(0, 150, 130);
    -fx-background-radius: 0em;
}

/* Main window styles */

.main-window {
    -fx-background-color: white;
}

.main-window .show-more-button {
    -fx-text-fill: lightslategray;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.main-window .export-button,
.main-window .settings-button {
    -fx-background-color: transparent;
}

.main-window .export-button .jfx-rippler,
.main-window .settings-button .jfx-rippler {
    -jfx-rippler-fill: lightslategray;
}

.running-entry-container {
    -fx-background-color: rgb(45, 43, 44);
}

.running-entry-container .description-text-input {
    -fx-text-fill: white;
    -fx-prompt-text-fill: lightgray;
}

.days-list {
    -fx-effect: none;
    -fx-background-color: transparent;
    -fx-padding: 3px;
}

.days-list .sublist-header {
    -fx-border-color: rgb(245, 245, 245);
    -fx-border-width: 10px;
    -fx-border-insets: 0px;
    -fx-padding: 0px;
}

.days-list .drop-icon {
    -fx-background-color: transparent;
}

.days-list-cell {
    -fx-background-color: transparent;
}

.entries-list-header {
    -fx-pref-height: 100%;
    -fx-background-color: rgb(245, 245, 245);
}

.entries-list-header-day {
    -fx-text-fill: rgb(77, 77, 77);
    -fx-font-weight: bold;
}

.entries-list-header-duration {
    -fx-text-fill: lightslategray;
    -fx-font-weight: bold;
}

.entries-list-header-warning {
    -fx-text-fill: lightcoral;
    -fx-font-weight: bold;
}

.entries-list {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.time-entry-list-cell {
    -fx-background-color: white;
}

.time-entry-description-with-errors {
    -fx-background-color: lightcoral;
}

.time-entry-list-cell:selected {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 0, 0);
    -fx-background-insets: 3px 0px;
}

.time-entry-list-cell .time-entry-description {
    -fx-font-size: 14px;
}

.time-entry-list-cell:selected .time-entry-description {
    -fx-text-fill: black;
}

.time-entry-list-cell:selected .time-entry-tags-count {
    -fx-text-fill: black;
}

.time-entry-duration {
    -fx-text-fill: lightslategray;
    -fx-font-size: 15px;
}

/* Edit drawer styles */

.edit-container {
    -fx-background-color: rgb(245, 245, 245);
}

.edit-container .input-line {
    -fx-pref-height: 0px;
    -fx-pref-width: 100%;
}

.edit-container .entry-edit-description {
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-highlight-fill: lightgray;
}

.edit-container .entry-edit-description:focused {
    -fx-border-color: rgb(0, 150, 130);
    -fx-border-width: 0 0 2 0;
    -fx-highlight-fill: lightgray;
}

.edit-container .entry-edit-project {
    -fx-background-color: white;
}

.edit-container .jfx-combo-box {
    -jfx-focus-color: rgb(0, 150, 130);
    -fx-pref-width: 100%;
}

.edit-container .jfx-combo-box .jfx-list-cell:focused {
    -fx-background-color: rgb(0, 150, 130);
}

.edit-container .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: none;
}

.edit-container .entry-edit-duration {
    -fx-text-fill: lightslategray;
    -fx-font-weight: bold;
}

.edit-container .jfx-time-picker {
    -jfx-default-color: rgb(0, 150, 130);
    -fx-background-color: white;
    -fx-padding: 2px 0px 2px 7px;
}

.edit-container .jfx-date-picker {
    -jfx-default-color: rgb(0, 150, 130);
    -fx-background-color: white;
    -fx-padding: 2px 0px 2px 7px;
}

.edit-container .spell-error {
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 -1 0;
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-fill: lightcoral;
}

.edit-container .project-cell {
    -fx-background-color: white;
}

.multi-select-list {
    -fx-effect: none;
    -fx-background-color: rgb(245, 245, 245);
}

.multi-select-list .picked-item {
    -fx-background-color: rgb(0, 150, 130);
    -fx-text-fill: white;
}

.multi-select-list .selected-items-container {
    -fx-border-insets: 0px;
    -fx-padding: 0px;
}

.multi-select-list .suggestion-list {
    -fx-effect: none;
    -fx-background-color: rgb(245, 245, 245);
}

.multi-select-list .suggestion-list .list-cell:empty {
    -fx-opacity: 0;
}

.multi-select-list .suggestion-item {
    -fx-background-color: white;
}

.multi-select-list .suggestion-item:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

/* Errors window */

.report-errors-container {
    -fx-font-size: 14px;
}

.report-errors-container .report-error-label {
    -fx-text-fill: darkred;
}

/* Settings window */

.settings-window {
    -fx-background-color: white;
}
